NAV_26110.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:enm1="https://soap.api.nav.gov.hu/definitions/model/2.0/altalanos_iranyitoszam"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/26110/3.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/26110/3.0">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <import namespace="https://soap.api.nav.gov.hu/definitions/model/2.0/altalanos_iranyitoszam"
           schemaLocation="altalanos_iranyitoszam.xsd"/>
   <element name="Doc_26110"
            type="tns:Doc_26110_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Igénylőlap az államháztartással szembeni gyakorított, illetve egyszeri támogatási előleg igényléséhez</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_26110_0A0001E002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="01"/>
         <enumeration value="02"/>
         <enumeration value="03"/>
         <enumeration value="04"/>
         <enumeration value="05"/>
         <enumeration value="06"/>
         <enumeration value="07"/>
         <enumeration value="08"/>
         <enumeration value="09"/>
         <enumeration value="10"/>
         <enumeration value="11"/>
         <enumeration value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0A0001E003A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="01"/>
         <enumeration value="02"/>
         <enumeration value="03"/>
         <enumeration value="04"/>
         <enumeration value=""/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0020BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0018BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0019BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0017BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0014BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0015BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0016BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0013BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0012BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0007BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0008BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0009BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0010BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0011BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0004BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0005BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_26110_0B0001C0006BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="151"/>
         <enumeration value="352"/>
         <enumeration value="361"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_26110_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_26110"
                  type="tns:Form_26110_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>26110 részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_26110_Type">
      <annotation>
         <documentation>A teljes nyomtatvány 26110 részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120050"
                  type="tns:Block_26110_120050_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Azonosító adatok</documentation>
            </annotation>
         </element>
         <element name="Block_120001"
                  type="tns:Block_26110_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Támogatások igénylése</documentation>
            </annotation>
         </element>
         <element name="Block_120022"
                  type="tns:Block_26110_120022_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Átvezetési és kiutalási kérelem</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_26110_120050_Type">
      <annotation>
         <documentation>Azonosító adatok</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120052"
                  type="tns:FieldGroup_26110_120052_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adózó adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120056"
                  type="tns:FieldGroup_26110_120056_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Ügyintéző adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120077"
                  type="tns:FieldGroup_26110_120077_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Bevallás jellemzői</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_26110_120001_Type">
      <annotation>
         <documentation>Támogatások igénylése</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120003"
                  type="tns:FieldGroup_26110_120003_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>MEZŐGAZDASÁGI JUTTATÁSOK</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120086"
                  type="tns:FieldGroup_26110_120086_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>EGYÉB KÖLTSÉGVETÉSI JUTTATÁSOK</documentation>
            </annotation>
         </element>
         <element name="Chain_120002"
                  type="tns:Chain_26110_120002_Type"
                  minOccurs="0"
                  meta:metaType="ChainMetaType">
            <annotation>
               <documentation>TOVÁBBI JUTTATÁSOK</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120021"
                  type="tns:FieldGroup_26110_120021_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>JUTTATÁSOK ÖSSZESEN</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_26110_120022_Type">
      <annotation>
         <documentation>Átvezetési és kiutalási kérelem</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120058"
                  type="tns:FieldGroup_26110_120058_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Kiutalási adatok</documentation>
            </annotation>
         </element>
         <element name="Chain_120023"
                  type="tns:Chain_26110_120023_Type"
                  minOccurs="0"
                  meta:metaType="ChainMetaType">
            <annotation>
               <documentation>Átvezetési és kiutalási kérelem</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120024"
                  type="tns:FieldGroup_26110_120024_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Átvezetési adatok</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Chain_26110_120002_Type">
      <annotation>
         <documentation>TOVÁBBI JUTTATÁSOK</documentation>
      </annotation>
      <sequence>
         <element name="Chain_elem" minOccurs="0" maxOccurs="17">
            <annotation>
               <documentation>Lánc ismétlődő elemei</documentation>
            </annotation>
            <complexType>
               <sequence>
                  <element name="FieldGroup_120004"
                           type="tns:FieldGroup_26110_120004_Type"
                           minOccurs="1"
                           meta:metaType="FieldGroupMetaType">
                     <annotation>
                        <documentation>TOVÁBBI JUTTATÁSOK</documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="Chain_26110_120023_Type">
      <annotation>
         <documentation>Átvezetési és kiutalási kérelem</documentation>
      </annotation>
      <sequence>
         <element name="Chain_header" minOccurs="0">
            <annotation>
               <documentation>Lánc nem ismétlődő elemei (felületen előtte vagy utána jelennek meg)</documentation>
            </annotation>
            <complexType>
               <sequence>
                  <element name="FieldGroup_120049"
                           type="tns:FieldGroup_26110_120049_Type"
                           minOccurs="0"
                           meta:metaType="FieldGroupMetaType">
                     <annotation>
                        <documentation>összesen</documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
         </element>
         <element name="Chain_elem" minOccurs="0" maxOccurs="24">
            <annotation>
               <documentation>Lánc ismétlődő elemei</documentation>
            </annotation>
            <complexType>
               <sequence>
                  <element name="FieldGroup_120025"
                           type="tns:FieldGroup_26110_120025_Type"
                           minOccurs="1"
                           meta:metaType="FieldGroupMetaType">
                     <annotation>
                        <documentation>Átvezetési és kiutalási kérelem</documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_26110_120052_Type">
      <annotation>
         <documentation>Adózó adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószáma (adószám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adóazonosító jele (adóazonosító)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Őstermelők családi gazdaságának nyilvántartási száma (családigazdszám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó neve (adózó_név)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120056_Type">
      <annotation>
         <documentation>Ügyintéző adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D007A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Neve (ügyintéző_neve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D008A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Telefonszáma (ügyintéző_telefon)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120077_Type">
      <annotation>
         <documentation>Bevallás jellemzői</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001E001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Bevallási időszak ¦ Év (bev_év)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E002A"
                  minOccurs="0"
                  type="tns:Enum_26110_0A0001E002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Bevallási időszak ¦ Hónap (gyakorított) (bev_hó)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001E003A"
                  minOccurs="0"
                  type="tns:Enum_26110_0A0001E003A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Bevallási időszak ¦ Negyedév (egyszeri) (bev_negyedév)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hibásnak minősített bevallás vonalkódja (vonalkód)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120003_Type">
      <annotation>
         <documentation>MEZŐGAZDASÁGI JUTTATÁSOK</documentation>
      </annotation>
      <all>
         <element name="Field_0B0001C0001CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcíme (a vonatkozó jogszabály, leirat száma) ([TAM]C1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0001DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcímkódja ([TAM]D1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0001EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés kezdő napja ([TAM]E1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0001FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés záró napja ([TAM]F1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0001GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés összege ([TAM]G1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="9"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120086_Type">
      <annotation>
         <documentation>EGYÉB KÖLTSÉGVETÉSI JUTTATÁSOK</documentation>
      </annotation>
      <all>
         <element name="Field_0B0001C0002CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcíme (a vonatkozó jogszabály, leirat száma) ([TAM]C2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0002DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcímkódja ([TAM]D2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0002EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés kezdő napja ([TAM]E2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0002FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés záró napja ([TAM]F2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0002GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés összege ([TAM]G2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="9"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0003CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcíme (a vonatkozó jogszabály, leirat száma) ([TAM]C3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0003DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcímkódja ([TAM]D3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0003EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés kezdő napja ([TAM]E3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0003FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés záró napja ([TAM]F3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0003GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés összege ([TAM]G3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="9"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120021_Type">
      <annotation>
         <documentation>JUTTATÁSOK ÖSSZESEN</documentation>
      </annotation>
      <all>
         <element name="Field_0B0001C0021GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés összege ([TAM]G21)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="9"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120058_Type">
      <annotation>
         <documentation>Kiutalási adatok</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001F007A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Átvezetési kérelem mellékelve (átvezetési_kérelem)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001F009A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó belföldi pénzforgalmi vagy fizetési számlaszáma ¦ Számlaszám (onya_számlaszám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="24"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F008A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>ELREJTETT szekvenciamező bankszámlakeresőhöz (szekvencia_bankszámlakeresőhöz)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó belföldi pénzforgalmi vagy fizetési számlaszáma ¦ Számlavezető pénzforgalmi szolgáltató neve (Pénzintézet_neve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Számlaszáma (Pénzintézet_azonosító)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="8"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Alszámlaszáma (Alszámlaszám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="16"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F004A"
                  minOccurs="0"
                  type="enm1:altalanos_iranyitoszam_2"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Belföldi postai utalási cím ¦ Irányítószám (utalás_irányítószám)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001F005A"
                  minOccurs="0"
                  type="enm1:altalanos_iranyitoszam_1"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Belföldi postai utalási cím ¦ Város/község (utalás_település)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001F006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Belföldi postai utalási cím ¦ Közterület neve, közterület jellege, házszám, épület, lépcsőház, emelet, ajtó (utalás_közterület)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="24"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120024_Type">
      <annotation>
         <documentation>Átvezetési adatok</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Vámazonosító szám (VPID_EORI)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[A-Z0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120004_Type">
      <annotation>
         <documentation>TOVÁBBI JUTTATÁSOK</documentation>
      </annotation>
      <all>
         <element name="Field_0B0001C0004AA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A juttatás megnevezése ([TAM]A4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0004BA"
                  minOccurs="0"
                  type="tns:Enum_26110_0B0001C0020BA"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Támogatásnem kód ([TAM]B4)</documentation>
            </annotation>
         </element>
         <element name="Field_0B0001C0004CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcíme (a vonatkozó jogszabály, leirat száma) ([TAM]C4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0004DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igény jogcímkódja ([TAM]D4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0004EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés kezdő napja ([TAM]E4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0004FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés záró napja ([TAM]F4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0004GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az igénylés összege ([TAM]G4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="9"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120025_Type">
      <annotation>
         <documentation>Átvezetési és kiutalási kérelem</documentation>
      </annotation>
      <all>
         <element name="Field_0C0001C0001AA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>T E R H E L E N D Ő ¦ Főbizonylati sor ([170]A1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0001BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>T E R H E L E N D Ő ¦ Adónem kód ([170]B1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="3"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0001CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>T E R H E L E N D Ő ¦ Összeg forintban ([170]C1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="20"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0001DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>J Ó V Á Í R A N D Ó ¦ Adónem kód ([170]D1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="3"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0001EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>J Ó V Á Í R A N D Ó ¦ Határozatszám ([170]E1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="14"/>
                  <pattern value="[A-Z0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0001FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>J Ó V Á Í R A N D Ó ¦ Összeg forintban ([170]F1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="20"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0001GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>K I U T A L A N D Ó ¦ Összeg forintban ([170]G1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="20"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_26110_120049_Type">
      <annotation>
         <documentation>összesen</documentation>
      </annotation>
      <all>
         <element name="Field_0C0001C0025CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Átvezetési és kiutalási kérelem tételeinek összesítése forintban ¦ Terhelendő összeg ([170]C25)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="21"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0025FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Átvezetési és kiutalási kérelem tételeinek összesítése forintban ¦ Jóváírandó összeg ([170]F25)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="21"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0025GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Átvezetési és kiutalási kérelem tételeinek összesítése forintban ¦ Kiutalandó összeg ([170]G25)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="21"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
